<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>

 <table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.name}">Spring in Action</td>
        <td th:text="${book.summary}">Spring in Action</td>


        <td><a th:href="${'/books/delete/' + book.id}" class="btn btn-default">Delete</a></td>
    </tr>
</table>


</body>
</html>