<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Create new Book</title>


</head>
<body>
<div class="container">
    <h2>Create new Book</h2>
    <div>
        <form class="form-horizontal" th:object="${book}" th:action="@{/createNewBook}" method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" th:field="*{id}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Summary</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{summary}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ISBN</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{ISBN}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">CopiesAvailable</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{copiesAvailable}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">CopiesPurchased</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{copiesPurchased}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit"  class="btn btn-primary">Save</button>
                </div>
            </div>

        </form>
    </div>
</div>

             <form method="get" action="/welcome">
             <button type="submit">Cancel</button>
             </form>




</body>
</html>