<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
</head>
<body>



<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstname}">Spring in Action</td>
        <td th:text="${user.lastname}">Spring in Action</td>
        <td th:text="${user.address}">Spring in Action</td>




        <td><a th:href="${'/manageUsers/delete/' + user.id}" class="btn btn-default">Delete</a></td>
    </tr>

    </tr>



</table>

<form method="get" action="/welcome">
    <button type="submit">Cancel</button>
</form>


</body>
</html>