<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome to our library</title>
</head>
<body>


            <h1>WELCOME TO OUR LIBRARY</h1>
<p>
<ul>

    <li> <a href="/createNewUser" th:href="@{/createNewUser}" class="btn btn-large btn-success">CreateNewUser</a> </li>
    <li> <a href="/createNewBook" th:href="@{/createNewBook}" class="btn btn-large btn-success">CreateNewBook</a> </li>
    <li> <a href="/manageUsers" th:href="@{/manageUsers}" class="btn btn-large btn-success">ManageUsers</a> </li>
    <li> <a href="/manageBooks" th:href="@{/manageBooks}" class="btn btn-large btn-success">ManageBooks</a> </li>
    <li> <a href="/loanBook" th:href="@{/loanBook}" class="btn btn-large btn-success">LoanBook</a> </li>
    <li> <a href="/returnBook" th:href="@{/returnBook}" class="btn btn-large btn-success">ReturnBook</a> </li>

</ul>







</p>
</body>
</html>